@model List<Entities.MyPassword>
@{
    ViewData["Title"] = "Şifrelerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h2>Şifrelerim (@User.Identity!.Name)</h2>
                </div>
                <div class="col-md-6">
                    <input type="text" id="passwordSearch" placeholder="Kayıt Tanımı yada Url'ye göre Ara..." class="form-control">
                </div>
            </div>
            <table class="table table-striped" id="passwordTable">
                <thead>
                    <tr>
                        <th scope="col" data-filter="true">Kayıt Tanımı</th>
                        <th scope="col" data-filter="true">Url</th>
                        <th scope="col">Kategori <a class="btn btn-outline-dark btn-sm mx-1" asp-action="CreateCategory" asp-controller="Category" title="Kategori Ekle"><i class="fas fa-plus"></i></a></th>
                        <th scope="col" data-filter="true">Kullanıcı Adı</th>
                        <th scope="col">Şifre(Hashlenmiş Hali)</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Description</td>
                            <td>@item.Url</td>
                            <td>@item.Category.Name</td>
                            <td>@item.UserName</td>
                            <td>@item.Password</td>
                            <td> <a class="btn btn-outline-success btn-sm" asp-action="UpdateMyPasswordDetail" asp-route-id="@item.Id" title="Güncelle"><i class="far fa-edit"></i></a></td>
                            <td> <a class="btn btn-outline-danger btn-sm" title="Sil" onclick="confirmDelete(@item.Id)"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="float-start">
                <a class="btn btn-primary btn-sm" asp-action="CreateMyPasswordDetail">Şifre Ekle</a>
            </div>
        </div>
    </div>
</div>





@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/passwordindex.js"></script>


}